/* Contact */

#contact {
    background-color: $thirdcolor;

    @media (min-width: 1024px) {
        display: flex;
        justify-content: center;
        border-top: 2px solid $fourthcolor;

    }

    .container {
        border-top: 2px solid $fourthcolor;
        text-align: center;

        @media (min-width: 1024px) {
            width: 40%;
            border-top: 0px;
        }

        @media (min-width: 1440px) {
            width: 35%;
        }

        @media (min-width: 2560px) {
            width: 30%;
        }

        h2 {
            color: $fourthcolor;
            text-align: center;
            padding: 30px 0px 20px;
        }

        p {
            color: $fourthcolor;
        }

        iframe {
            margin: 20px 0px;
            width: 90%;

            @media (min-width: 1024px) {
                height: 240px;
            }

            @media (min-width: 1440px) {
                width: 80%;
            }
        }

        form {
            text-align: center;
            padding: 10px 0;
            width: 90%;
            margin: 0 auto;

            input,
            textarea {
                width: 100%;
                margin-bottom: 20px;
                font-size: 1.05em;
                padding: 10px;
                box-sizing: border-box;
                border: none;
                font-family: "Open Sans";
            }

            textarea {
                min-height: 100px;
                max-height: 200px;
                max-width: 100%;
                min-width: 100%;
                resize: none;
            }

            #formbutton {
                background: $firstcolor;
                color: white;
                font-size: 1.1em;
                font-weight: 500;
                cursor: pointer;
            }
        }
    }

    .container:nth-child(2) {
        border-top: 1px solid rgb(121, 183, 194);

        @media (min-width: 1024px) {
            border-top: 0px;
        }
    }

}